.page-header {
	padding: 2rem 1rem;
	background: $gray-100;

	@include media-breakpoint-up('lg') {
		padding: 1rem 2rem;
	}

	h1 {
		color: $gray-700;
		font-weight: 600;
	}

	p {
		color: $gray-600;
	}
}
