.app-sidebar {
	.nav-links {
		position: relative;
		z-index: 2;
		margin: 0;
		padding: 0 0.5rem;
		list-style: none;

		li {
			display: block;
			padding-right: 0.5rem;

			a {
				position: relative;
				overflow: hidden;
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				padding: 1.125rem 1rem;
				color: $gray-600;
				border-radius: 15px;

				&.active {
					background-color: $gray-200;
				}

				.icon {
					margin-right: 0.5rem;

					svg {
						width: 1.5rem;
						height: 1.5rem;
						display: block;
					}
				}
			}
		}
	}
}
