.app-sidebar {
	position: fixed;
	z-index: 98;
	top: 0;
	bottom: 0;
	left: 0;
	width: auto;
	width: $sidebar-width;
	height: 100%;
	padding-top: 130px;
	transition: transform 0.35s ease-in-out;
	background: $white;
	box-shadow: 0 1rem 3rem rgba($black, 0.1);

	@include media-breakpoint-down('lg') {
		transform: translate3d(-100%, 0, 0);

		.app-container[aria-expanded='true'] & {
			transform: translate3d(0, 0, 0);
		}
	}

	.sidebar-wrapper {
		height: 100%;
		padding-bottom: 20px;
	}

	.scrollbar {
		height: calc(100vh - 150px) !important;
	}
}

.site-logo {
	position: relative;
	z-index: 99;
	background: $white;

	@include media-breakpoint-up('lg') {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: $sidebar-width;
		height: 110px;
	}

	@include media-breakpoint-down('lg') {
		width: 100%;
		box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.01), 0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.03);
	}

	h1 {
		color: $primary;
		font-weight: 600;

		a {
			color: inherit;
		}
	}
}

.menu {
	position: relative;
	padding: 0 2.5rem;
	cursor: pointer;
	transition: transform 0.35s ease-in-out;
	background-color: #3f77e9;

	@include media-breakpoint-up('lg') {
		display: none;
	}

	label {
		position: relative;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		cursor: pointer;
		transform: translate(-50%, -50%);
	}

	path {
		--length: 24;
		--offset: -38;
		transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
		fill: none;
		stroke: #ffffff;
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: var(--length) var(--total-length);
		stroke-dashoffset: var(--offset);
	}

	.line--1,
	.line--3 {
		--total-length: 126.64183044433594;
	}

	.line--2 {
		--total-length: 70;
	}

	.app-container[aria-expanded='true'] & {
		svg {
			.line--1,
			.line--3 {
				--length: 22.627416998;
				--offset: -94.1149185097;
			}

			.line--2 {
				--length: 0;
				--offset: -50;
			}
		}
	}
}
