.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 380px;
	height: 100%;
	box-shadow: $box-shadow-lg;

	& > div {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 20px;
	}
}

.site-logo {
	padding: 2rem;
	background: #f9f9fd;

	h1 {
		margin: 0 0 1rem 0;
		color: $primary;
		background-image: linear-gradient(to right, #fd746c 0%, #ff9068 51%, #fd746c 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		font-weight: $font-weight-bolder;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
	}
}

.scrollbar {
	height: calc(100vh - 162px) !important;
}

.nav-links {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: block;
		border-bottom: 1px solid $gray-200;

		a {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			padding: 1.25rem;
			color: $gray-600;

			&.active {
				background: #f9f9fd;
			}

			.icon {
				margin-right: 0.5rem;

				svg {
					width: 1.5rem;
					height: 1.5rem;
					display: block;
				}
			}
		}
	}
}
