.app-container {
	display: flex;
	max-width: 100%;
	flex: 0 0 100%;
}

.app-main {
	flex-grow: 1;
	padding-left: $sidebar-width;
}

.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: $sidebar-width;
	height: 100%;
	box-shadow: $box-shadow-lg;

	& > div {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 20px;
	}

	.site-logo {
		padding: 2rem 1rem;
		background: #f9f9fd;

		h1 {
			color: $primary;
			font-weight: $font-weight-bolder;

			a {
				color: inherit;
			}
		}
	}

	.scrollbar {
		height: calc(100vh - 162px) !important;
	}

	.nav-links {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: block;
			border-bottom: 1px solid $gray-200;

			a {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				padding: 1.25rem 1rem;
				color: $gray-600;

				&.active {
					background: #f9f9fd;
					background: #f6f9fc;
				}

				.icon {
					margin-right: 0.5rem;

					svg {
						width: 1.5rem;
						height: 1.5rem;
						display: block;
					}
				}
			}
		}
	}
}

.page-header {
	padding: 2rem 3rem;
	background: #f9f9fd;

	h1 {
		color: inherit;
		font-weight: $font-weight-bolder;
	}
}

.app-content {
	padding: 3rem 2rem;
}

button + button {
	margin-left: 1rem;
}

.check-btn-group {
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;

	.form-check {
		margin: 0;

		&:first-of-type {
			.form-check-label {
				border-top-left-radius: $border-radius-sm;
				border-bottom-left-radius: $border-radius-sm;
			}
		}

		&:last-of-type {
			.form-check-label {
				border-top-right-radius: $border-radius-sm;
				border-bottom-right-radius: $border-radius-sm;
			}
		}

		&:not(:first-of-type) {
			.form-check-label {
				margin-left: -1px;
			}
		}

		.form-check-input {
			position: absolute;
			z-index: -1;
			opacity: 0;

			&:checked + .form-check-label {
				z-index: 2;
				color: $white;
				border: 0;
				@extend .btn-primary;
			}
		}

		.form-check-label {
			@extend .btn;
			@extend .btn-sm;
			@extend .btn-light;
		}

		.form-check-label {
			position: relative;
			z-index: 1;
			display: inline-flex;
			align-items: center;
			border: 0;
			border-radius: 0;
		}
	}
}

.custom-control.custom-checkbox,
.custom-control.custom-radio {
	padding-left: 2rem;

	.custom-control-label {
		cursor: pointer;

		&::before,
		&::after {
			top: 50%;
			left: -2rem;
			width: 1.5rem;
			height: 1.5rem;
			transform: translateY(-50%);
		}
	}
}

.form-group {
	position: relative;

	.clear-btn,
	.copy-btn {
		position: absolute;
		z-index: 1;
		top: 1rem;
		right: 1rem;
		width: auto;
		height: auto;

		.btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
			padding: 0.5rem 0.825rem;
			transition: none;
			line-height: 1;
		}
	}
}

.tools-cards {
	.card {
		flex: 0 0 100%;
		margin-bottom: 3rem;
		cursor: pointer;
		border: 0;
		border: 1px solid rgba(#e9ecef, 0.5);
		box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.03), 0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.05);
	}

	.card-icon {
		padding: 1.5rem;
		text-align: center;
		background: #f9f9fd;
		color: $gray-600;

		svg {
			width: 6rem;
			height: 6rem;
		}
	}

	.card-body {
		padding: 2.25rem 1.5rem;
		text-align: center;
	}

	.card-title {
		color: $gray-800;
	}

	.card-text {
		color: $gray-600;
		font-size: $font-size-sm;
	}
}
