.switch {
	position: relative;
	overflow: hidden;

	input[type='checkbox'] {
		display: none;
	}

	.switch-group {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 200%;
		transition: left 0.35s;
	}

	.switch-on,
	.switch-off {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		margin: 0;
		box-shadow: none;
		border: 0;
	}

	.switch-on {
		right: 50%;
		text-align: left;
	}

	.switch-off {
		left: 50%;
		text-align: right;
	}

	.switch-handle {
		position: relative;
		width: 0px;
		height: 100%;
		margin: 0 auto;
		padding-top: 0px;
		padding-bottom: 0px;
		border-width: 0;
		border-radius: 0;
		background-color: #fff;
	}

	&.off {
		.switch-group {
			left: -100%;
		}
	}

	&.btn {
		min-width: $btn-padding-x * 4;
		min-height: $btn-padding-y * 2 + $btn-line-height * $font-size-base;
	}

	&.btn-lg {
		min-width: $btn-padding-x-lg * 4;
		min-height: $btn-padding-y-lg * 2 + $btn-line-height-lg * $font-size-base;
	}

	&.btn-sm {
		min-width: $btn-padding-x-sm * 4;
		min-height: $btn-padding-y-sm * 2 + $btn-line-height-sm * $font-size-base;
	}

	&.btn.btn-light,
	&.btn.btn-outline-light {
		border-color: rgba(0, 0, 0, 0.15);
	}
}
