// Grayscale
$white: #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #f3f5f9 !default;
$gray-300: #e3e9ef !default;
$gray-400: #dae1e7 !default;
$gray-500: #aeb4be !default;
$gray-600: #7d879c !default;
$gray-700: #4b566b !default;
$gray-800: #373f50 !default;
$gray-900: #2b3445 !default;
$black: #000 !default;

$info: #11b3ff !default;
$success: #22be34 !default;
$warning: #ff851b !default;
$danger: #f34770 !default;
$primary: #fd746c !default;
$secondary: $gray-800 !default;
$dark: #334155 !default;
$light: #ebeef0 !default;

$link-hover-decoration: none !default;
$font-family-sans-serif: 'Federo', sans-serif !default;

$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-light-color: rgba($white, 0.12) !default;

$border-radius: 0.3125rem !default;
$border-radius-lg: 0.4375rem !default;
$border-radius-sm: 0.25rem !default;

$box-shadow-inset: inset 0 1px 2px transparent !default;

$headings-color: $gray-800 !default;
$font-size-base: 1.15rem !default; // Assumes the browser default, typically `16px`
$font-size-xl: ($font-size-base * 1.625) !default;
$font-size-lg: ($font-size-base * 1.125) !default;
$font-size-md: ($font-size-base * 0.9375) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-size-ms: ($font-size-base * 0.8125) !default;
$font-size-xs: ($font-size-base * 0.75) !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-medium-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 900 !default;

$font-weight-base: $font-weight-normal !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 1.0625 !default;

$input-btn-padding-y: 0.625rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-padding-y-sm: 0.425rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-y-lg: 0.75rem !default;
$input-btn-padding-x-lg: 1.25rem !default;

$input-btn-font-size: ($font-size-base * 0.9375) !default;
$input-btn-font-size-sm: ($font-size-base * 0.8125) !default;
$input-btn-font-size-lg: ($font-size-base * 1.0625) !default;

$btn-padding-x: 2rem !default;
$btn-padding-x-sm: 1.5rem !default;
$btn-padding-x-lg: 2.5rem !default;
$btn-white-space: nowrap !default;
$btn-font-weight: normal !default;

$btn-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out !default;
$custom-control-indicator-active-border-color: $gray-500 !default;
