// Grayscale
$white: #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #f3f5f9 !default;
$gray-300: #e3e9ef !default;
$gray-400: #dae1e7 !default;
$gray-500: #aeb4be !default;
$gray-600: #7d879c !default;
$gray-700: #4b566b !default;
$gray-800: #373f50 !default;
$gray-900: #2b3445 !default;
$black: #000 !default;

/* $success: #61b15a !default;
$warning: #ffd369 !default;
$danger: #ec5858 !default;
$info: #5edfff !default;
$primary: #5edfff !default;
$secondary: #738598 !default;
$dark: #5d5d5a !default;
$light: #fff4e3 !default; */

$primary: #5e72e4;
$secondary: #f7fafc;
$success: #2dce89;
$info: #11cdef;
$warning: #fb6340;
$danger: #f5365c;
$light: #adb5bd;
$dark: $gray-700;

$link-hover-decoration: none !default;

$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-sans-serif: 'Federo', sans-serif !default;
$font-family-monospace: 'Courier Prime', monospace !default;

$headings-color: $gray-700 !default;
$sidebar-width: 300px !default;

$input-border-color: $gray-300 !default;

$btn-padding-y: 0.625rem !default;
$btn-padding-x: 2rem !default;
$btn-padding-y-lg: 1rem !default;
$btn-padding-x-lg: 2.5rem !default;
